* {
    box-sizing: border-box;
  }
  
  form.button_search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.button_search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f32f21;
    /* color: white; */
    font-size: 17px;
    border: 1px solid rgb(131, 20, 20);
    border-left: none;
    cursor: pointer;
  }
  
  form.button_search button:hover {
    background: #0b7dda;
  }
  
  form.button_search::after {
    content: "";
    clear: both;
    display: table;
  }

  /* CUSTOM PROPERTIES */
:root {

/**
* typography
*/

--ff-refault: "Refault", Georgia;
--ff-oswald: 'Oswald', sans-serif;
--ff-poppins: 'Poppins', sans-serif;
/**
* transition
*/

--transition-1: 0.15s ease-in-out;
--transition-2: 0.15s ease-in;
--transition-3: 0.25s ease-out;

/**
* spacing
*/

--section-padding: 60px;



}





/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

button {
font: inherit;
background: none;
border: none;
cursor: pointer;
}

input {
font: inherit;
width: 100%;
border: none;
}

html {
font-family: var(--ff-poppins);
scroll-behavior: smooth;
}

body { overflow-x: hidden; 
background-color: white;
height: 120vh;

}


body.active { overflow-y: hidden; }

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: rgb(33, 33, 51); }

::-webkit-scrollbar-thumb {
background: orange;
border-radius: 20px;
}



/* custom font */
/* Webfont: Refault-Italic */
@font-face {
font-family: 'Refault';
src: url('../fonts/REFAULT.eot'); /* IE9 Compat Modes */
src: url('../fonts/REFAULT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/REFAULT.woff') format('woff'), /* Modern Browsers */
  url('../fonts/REFAULT.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/REFAULT.ttf') format('truetype'); /* Safari, Android, iOS */
font-style: italic;
font-weight: normal;
text-rendering: optimizeLegibility;
}

/* search button */


/* reuse style */
/* header */
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: rgb(37, 27, 27);
box-shadow: 0 3px 27px hsla(0, 0%, 0%, 0.5);
padding-block: 20px;
z-index: 4;
}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}
* {
    box-sizing: border-box;
    }
    
    .button_search {
        display: flex;
        align-items: center;
        margin-right: 20px; /* Adjust the margin as needed */
    }
    
    .button_search input[type="text"] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        background: #f1f1f1;
    }
    
    .button_search button {
        padding: 10px;
        background: #f32f21;
        font-size: 17px;
        border: 1px solid rgb(131, 20, 20);
        cursor: pointer;
    }
    
    .button_search button:hover {
    background: #0b7dda;
    }
    
    .button_search::after {
    content: "";
    clear: both;
    display: table;
    }
.header-actions { display: none; }
.smaller-image {
    width: 20%;
    margin-left: 30px;
}

.nav-open-btn {
color: white;
font-size: 40px;
padding: 5px;
}

.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
position: fixed;
top: 0;
right: -300px;
width: 100%;
max-width: 300px;
background: rgb(109, 69, 69);
height: 100%;
box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.5);
visibility: hidden;
z-index: 2;
transition: var(--transition-2);
}

.menu_container{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(193, 89, 82);
    display: inline;
    font-size: 30px;
    
}
.navbar.active {
    right: 0;
    visibility: visible;
    transition: var(--transition-3);
  }

.navbar-top {
display: flex;
justify-content: space-between;
align-items: center;
padding: 25px;
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 70px; }

.navbar-list {
  border-top: 2px solid hsla(0, 0%, 100%, 0.527);
  margin-bottom: 25px;
}

.navbar-link {
  color: var(--white);
  font-size: 15px;
  padding: 10px 25px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.888);
  font-weight: 500;
  transition: 0.15s ease-in-out;
}

.navbar-link:is(:hover, :focus) { color: rgb(131, 20, 20); }

.overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
  }
  
.overlay.active {
background: hsla(241, 77%, 18%, 0.205);
pointer-events: all;
transition: var(--transition-3);
}

/* player */
.player {
    background: url("../templates/assets/image/player.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 100px;
    padding: var(--section-padding) 0;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration as needed */

    /* Hover effect to fade out on hover */
    &:hover {
        opacity: 0.7; /* Set the desired opacity on hover */
  }
}
  
  .player-title {
    color: rgb(255, 255, 255);
    font-family: var(--ff-oswald);
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 7px hsl(0, 86%, 38%);
    margin-bottom: 15px;
    border: 2px solid rgb(49, 16, 103);
    padding: 5px;
    -webkit-text-stroke: 2px rgb(244, 243, 247); /* For Webkit-based browsers like Chrome and Safari */
    text-stroke: 2px red;
  }

  /* Button style */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    color: #ffffff;
    font-family: var(--ff-oswald);
    letter-spacing: 0.15rem;
    font-weight: 400;
    font-size: 34px;
    text-shadow: 0 2px hsl(30, 89%, 21%);
    font-style: bold;
}

.player .btn-primary ion-icon { font-size: 25px; }

/* Live score container style */
#liveScoreContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 500px;
    position: center;
}

#liveScoreContainer p {
    margin: 20px 0;
}
