<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/player-profile.css">
</head>

    <body>

        <h1>Players</h1>

        <form action="{{ url_for('playerProfile') }}" method="GET">
            <input type="text" id="searchResult" name="searchResult" placeholder="Search for a player.">
            <button type="submit" id="searchButton">Search</button>
        </form>

        {% if searchResult %}
            
            {% if plr_name %}
            <div class="info-card"> 
                <ul>
                    <h2 class="h1">Player: {{ searchResult }}</h2>
                    <li>Height: {{ plr_name['height'] }}</li>
                    <li>Weight: {{ plr_name['weight'] }} lbs</li>
                    <li>Birth date: {{ plr_name['bday'] }}</li>
                    <li>Country: {{ plr_name['country']}}</li>
                    <li>Team: {{ plr_name['team']}}</li>
                    <li>Position: {{ plr_name['pos']}}</li>
                    <li>Jersey: {{ plr_name['jersey']}}</li>
                    <li>Player ID: {{ plr_id }}</li>
                </ul>
            </div>

            {% else %}
                <p>No player found with the provided name.</p>
            {% endif %}
        
        {% else %}
            <p>Find player's information</p>
        {% endif %}

    </body>
</html>