<!DOCTYPE HTML>


<html>
    <head>
        <title>Live Score</title>
        <link rel="stylesheet" type="text/css" href="../static/schedule.css">
         
    </head>
    
    <body>
        <header>Live Score</header>
        <div class="container">
            <div id="searchWrapper">
                <input
                    type="text"
                    name="searchBar_schedule"
                    id="searchBar_schedule"
                    placeholder="Search Team"
                />
            </div>
            <ul id="game_list"></ul>
        </div>
        <div class="container">
            <ul id="game_list"></ul>
            <ul id="gameList"></ul>
            </div>
        </div>
        
        <script src="../static/schedule.js"></script>
       
    </body>
</html>